// Styles in src/style directory are applied to the whole page

body
	background #0147A7
	color white

a
	color #03A9F4

nav > a
	padding 20px

main
	padding 1em
	font-family Verdana, Arial, Helvetica, sans-serif
	text-align center
	margin-top 50px

footer
	text-align center
	font-size 0.8em

.title
	font-size 3rem

.home-link
	font-size 1.1em
	display flex
	flex-direction row
	align-items center
	justify-content center

	img
		margin 16px

// Poor substitute for Bootstrap styles... (used in original code, not in included in this project)
.jumbotron
	font-size 24px

$controlHeight = 30px

.btn,
input[type=text]
	font-size 16px

.btn
	width 200px
	height $controlHeight * 1.2

input[type=text]
	height $controlHeight
